/*
#[test_only]
module {{ name_snake_case }}::{{ name_snake_case }}_tests;
// uncomment this line to import the module
// use {{ name_snake_case }}::{{ name_snake_case }};

const ENotImplemented: u64 = 0;

#[test]
fun test_{{ name_snake_case }}() {
    // pass
}

#[test, expected_failure(abort_code = ::{{ name_snake_case }}::{{ name_snake_case }}_tests::ENotImplemented)]
fun test_{{ name_snake_case }}_fail() {
    abort ENotImplemented
}
*/

