{
  "name": "{{ name }}",
  "dag_path": "dag.json",
  "requirements": {
    "input_schema_commitment": [1],
    "payment_policy": "UserFunded",
    "schedule_policy": {
      "recurrence": "Once",
      "allow_recursive": false
    },
    "fixed_tools": []
  },
  "shared_objects": [],
  "interface_revision": 1
}
