{
  "vertices": [
    {
      "kind": {
        "variant": "off_chain",
        "tool_fqn": "xyz.taluslabs.weather_skill@1"
      },
      "name": "entry",
      "entry_ports": [
        {
          "name": "input"
        }
      ]
    }
  ],
  "edges": []
}
