[package]
name = "{{ name_kebab_case }}"
version = "0.1.0"
edition = "2021"

[dependencies]
schemars = "1.0.0"
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["full"] }

nexus-sdk = "2.0.0"
nexus-toolkit = "2.0.0"
